
<div class="row">
  <div class="small-6 large-4 columns">
    <h1>Details</h1>

    <% @details.each do |detail| %>
      <p>
        <span><%= link_to detail.name, detail_path(detail) %></span>
        <span><%= link_to "Delete", detail_path(detail), method: :delete %></span>
      </p>
    <% end %>
    <%= link_to "Add Detail", new_detail_path %>
  </div>
</div>